<div class="funcionario-box">
    <button routerLink='/cadastro'>Cadastrar novo funcionário</button>
    <div class="input-box">
        <label>Procurar:</label>
        <input type="text" placeholder="Qual registro está buscando?" (input)="search($event)">
    </div>
</div>


<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Departamento</th>
            <th>Exercício</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody  *ngFor="let funcionario of funcionarios">
        <tr>
            <td>
                <div *ngIf="funcionario.ativo == true; else inativo ">
                    <img src="assets/images/Ativo.png" alt="" style="height: 20px; width: 20px;">
                </div>
                
                <ng-template #inativo>
                    <img src="assets/images/Inativo.png" alt="" style="height: 20px; width: 20px;">
                </ng-template>
                
            </td>
            <td>{{funcionario.nome}}</td>
            <td>{{funcionario.sobrenome}}</td>
            <td>{{funcionario.departamento}}</td>
            <td>{{funcionario.exercicio}}</td>
            <td>
                <button>Editar</button>
                <button>Detalhes</button>
            </td>
            <td>
                <button>Excluir</button>
            </td>
        </tr>
    </tbody>
</table>